#botonMenuMovil.index i {

    color: #AC9950;
}
#menu-movil-dorado-opcion > ul > li > a {
    text-decoration: none !important;

    color: black;
}
#menu-movil-dorado.index {
    background-color: transparent;
}

#menu-movil-dorado.index a.carrito {
    color: #AC9950;
}

#menu-movil-dorado.shop {
    background-color: white;
}

#menu-movil-filtro > ul > li > a {
    text-decoration: none !important;

    color: black;
}

#menu-movil-ordenamiento {
    text-decoration: none !important;

    color: black;
}

#menu-movil-ordenamiento > ul > li > a {
    text-decoration: none !important;

    color: black;
}

a.elemento-menu-movil.ordenamiento{
    text-decoration: none !important;
    color: black;
    margin-right: 2px;
}

a.elemento-menu-movil.filtro{
    text-decoration: none !important;
    color: black;
    margin-right: 2px;
}

a.elemento-menu-movil.carrito{
    text-decoration: none !important;
    color: black;
    margin-right: 2px;
}

#contenedorIndex {
    padding: 0 !important;
    margin-left: 15%;
    margin-right: 15%;
}

#contenedorIndex.shop .row {
    margin-left: 0;
    margin-right: 0;
}
#contenedorIndex p.descripcion {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}


#contenedorIndex p.precios {
    font-size: 0.7rem;
}

.index #botonMenuMovil {
    color : #AC9950;
}

#menu-movil-dorado #politica {
    font-size: 0.7rem !important;
}

#left_home {
    max-width: 50%;
    height: auto;

}

#right_home {
    max-width: 50%;
    height: auto;

}

#fotosprincipal {
    display: block;

    margin-top: -6vh;
}

#menu-web {
    position: sticky;
}

#logo {
    width: 7%;
    position: fixed;
    z-index: 999;
    left: 70vw;
    transition: width 0.3s ease 0s, height 1s ease 0s;
}

.precios s {
    color: gray;
    font-size: 0.6rem;
}

#contenedorIndex.ocultarmargen {
    margin-right: 0;
    margin-left: 0;
}

@media (min-width: 576px) {

    #fotosprincipal {
        display: block !important;
    }
    #left_home {
        max-width: 100%;
        margin-top: -8vh;

    }
    #right_home {
        max-width: 100%;
        margin-top: -8vh;
    }

   
}

@media (max-width: 576px) {
    #logo {

        width: 12%;
        left: 80vw;
    }
    #contenedorIndex.productos .row .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    #contenedorIndex.productos .row .col-xs-6 .descripcion {
        margin: 0;
    }
}

@media (max-width: 768px) {
    #contenedorIndex {
        padding: 0 !important;
        margin-left: 0;
        margin-right: 0;
    }
    #logo {

        width: 12vw;
        left: 80vw;
    }
    #fotosprincipal {
        display: block !important;
    }
    #left_home {
        max-width: 100%;
        margin-top: -8vh;

    }
    #right_home {
        max-width: 100%;
        margin-top: -8vh;
    }
}

@media (min-width: 992px) {
    #logo {
        width: 7%;
        top: 50vh;
        left: 90vw;
    }
    #fotosprincipal {
        display: flex !important;
    }
    #left_home {
        max-width: 50%;
        height: auto;

    }

    #right_home {
        max-width: 50%;
        height: auto;

    }
    #left_home {
        max-width: 50%;
        margin-top: -4vh;

    }
    #right_home {
        max-width: 50%;
        margin-top: -1vh;
    }
}