#principal{
    top:0px;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.item:hover label::before{
    content: \"\\2713\";
}
span:hover{
    cursor: pointer;
}
span:hover::after{
    content: \"'\";
}
@font-face {
    font-family: NHaasGroteskDSPro-55Rg;
    src: url(font/NHaasGroteskDSPro-55Rg.woff);
    src: url(font/NHaasGroteskDSPro-55Rg.woff2);
    src: url(font/NHaasGroteskDSPro-55Rg.ttf);
}

@font-face {
    font-family: NHaasGroteskDSPro-65Md;
    src: url(font/NHaasGroteskDSPro-65Md.woff);
    src: url(font/NHaasGroteskDSPro-65Md.woff2);
    src: url(font/NHaasGroteskDSPro-65Md.ttf);

}

body,button {
    font-family: NHaasGroteskDSPro-55Rg;
    letter-spacing:0.09em;
    overflow-y: overlay;
    font-size:.9rem!important;
}
[type='submit']{
    -webkit-appearance: none!important;
}
#logo{
    display:inline-block;
    top:50vh;
    left: 90vw;
    width: 7%
}
p{
    margin: 0 0 0 0;
}

.text-center{
    padding-right:0!important;
    padding-left:0!important;
}

#t{
    position:fixed;
    display:inline-block;
    top:50vh;
    left: 2vw;

}
#t-over{
    visibility:hidden;
    position:fixed;
    display:inline-block;
    top:50vh;
    left: 2vw;
    /*background-color: rgba(255,255,255,.3);*/
    cursor: pointer;

}
hr{
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
}
#left_home{
    animation-name: blur-fx1;
    animation-duration: 2s;
}
#right_home{
    animation-name: blur-fx2;
    animation-duration: 2s;
    animation-delay: 1s;
}
.form-control{
    font-size: .9rem!important;
}