main,#component{

    padding-right: 0!important;
    padding-left: 0!important;
}
td{
    text-align: center;
}
#principal{
    top:0px;
    position: absolute;
    padding-left: 0px;
    padding-right: 0px;
}
#sMenu a{
    text-decoration: none!important;
    color: white!important;
}
#sMenu a:hover{
    text-decoration: none!important;
    color: white!important;
}
a{
    text-decoration: none!important;
}
.item:hover label::before{
    content: "'";
}
span:not:hover{
    cursor: pointer;
}
span:hover::after{
    content: "'";
}

.sincaracter.omitir::after{
    content: "";
}
@font-face {
    font-family: NHaasGroteskDSPro-55Rg;
    src: url(font/NHaasGroteskDSPro-55Rg.woff);
    src: url(font/NHaasGroteskDSPro-55Rg.woff2);
    src: url(font/NHaasGroteskDSPro-55Rg.ttf);
}

@font-face {
    font-family: NHaasGroteskDSPro-65Md;
    src: url(font/NHaasGroteskDSPro-65Md.woff);
    src: url(font/NHaasGroteskDSPro-65Md.woff2);
    src: url(font/NHaasGroteskDSPro-65Md.ttf);

}

body,button {
    font-family: NHaasGroteskDSPro-55Rg!important;
    letter-spacing:0.09em!important;
    overflow-y: overlay;
    font-size:.9rem!important;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
[type='submit']{
    -webkit-appearance: none!important;
}
#logo{
    display:inline-block;
    top:50vh;
    left: 90vw;
    width: 7%
}
p{
    margin: 0 0 0 0;
}

.text-center{
    padding-right:0!important;
    padding-left:0!important;
}

#t{
    position:fixed;
    display:inline-block;
    top:50vh;
    left: 2vw;

}
#t-over{
    visibility:hidden;
    position:fixed;
    display:inline-block;
    top:50vh;
    left: 2vw;
    /*background-color: rgba(255,255,255,.3);*/
    cursor: pointer;

}
hr{
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
}
#left_home{
    animation-name: blur-fx1;
    animation-duration: 2s;
}
#right_home{
    animation-name: blur-fx2;
    animation-duration: 2s;
    animation-delay: 1s;
}
.left-top{
    position: fixed;
    top: 5vh;
    left: 50vw;
}
.space{
    position: relative;
    display:inline-block;
    width:30px;
}
.form-control{
    font-size: .9rem!important;
}
.adjust{
    margin-top: -5px!important;
    font-size: 1.1em;
}
#pago-seguro{
    position:relative;
    width:50%!important
}